*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.emty{
    background-color: rgb(107, 104, 104);
    margin-bottom: 1rem;
}
.newone{
    background-color: rgb(107, 104, 104) ;
}

div{
    justify-content: center;
    align-items: center;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
}

section{
    border: 2rem;
    font-size:1.3rem ;

}

.content-box{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 1.5rem;
  
}
#address{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 8rem;
    padding-bottom: 0.7rem;
    border-bottom-width: thin;
    border-bottom-style: solid;
}
.kalaam{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    background-color: rgb(238, 176, 19);
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 22rem;
    border-radius: 7px;
}

h2{
    padding-bottom: 1rem;
    font-size: 3rem;
}
h3{
    padding-bottom: 0.6rem;
    font-size: 1.7rem;
}
h4{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    
}

img{
    width: 70px;
    padding-top: 1rem;
}

 #one{
    justify-self: center;
    align-items: flex-end;
    display: flex;
    padding-right: 1.7rem;
  }
 
 #hidden{
    padding: 10px;
    width: 40px;
    height: 200px;
    text-align: justify;
    
  }
    
  .gap{
    display: flexbox;
    justify-content: space-evenly;
  }
  
  /* .pointer{
    
    list-style-position: outside;
    
 } */
 .center{
    padding-left: 14rem;
 }
 .vl{
    border-left: 3px solid rgb(12, 14, 12);
    height: 1310px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    margin-top: 41rem;
 }

 
  
   
